<section>
  <div class="btn-group">
    <a class="btn btn-success send"><i class="icon-envelope icon-white"></i> send</a>
    <a class="btn save">save</a>
    <a class="btn btn-danger discard"><i class="icon-envelope icon-trash icon-white"></i> discard</a>
  </div>
  <input type="email" placeholder="to">
  <input type="email" placeholder="cc">
  <input type="email" placeholder="bcc">
  <div class="btn-group">
    <a class="btn" href="#"><i class="icon-bold"></i></a>
    <a class="btn" href="#"><i class="icon-italic"></i></a>
    <a class="btn discard">u</a>
    <a class="btn" href="#"><i class="icon-text-height"></i></a>
    <a class="btn" href="#"><i class="icon-font"></i></a>


    <a class="btn" href="#"><i class="icon-align-left"></i></a>
    <a class="btn" href="#"><i class="icon-align-center"></i></a>
    <a class="btn" href="#"><i class="icon-align-right"></i></a>
    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
    <a class="btn" href="#"><i class="icon-indent-left"></i></a>
    <a class="btn" href="#"><i class="icon-indent-right"></i></a>
    <a class="btn" href="#"><i class="icon-picture"></i></a>
    <a class="btn" href="#"><i class="icon-list"></i></a>
  </div>

  <section contenteditable class="writer">
  </section>
</section>