#mainnav {
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: #eee;
}
#mainnav a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-right: 269px;
}
#mainnav .settings {
  margin-right: 10px;
  float: right;
  padding: 3px 6px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 319px;
  padding: 0px;
}
#sidebar label {
  font-weight: bold;
  margin: -44px 5px 0 5px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
#sidebar input {
  display: inline;
}
#sidebar .select {
  float: right;
  margin: 0 0 0 5px;
}
#sidebar .btn-group {
  display: inline-block;
}
#sidebar li {
  text-align: left;
}
#sidebar .sublist li {
  display: block;
  margin: 0px 10px;
  padding: 5px 0;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #888;
}
#sidebar .sublist li:last-child {
  border-bottom: none;
}
#sidebar {
  margin: 0 26px 0 6px
}
#reader {
  position: absolute;
  left: 360px;
  width: 668px;
  top: 50px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
/*
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  overflow: hidden;

  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
*/
}
li {
  width: 100%;
}

li:active {
  box-shadow: inset 0 0 1px #333;
}

.writer {
  width: 100%;
  height: 200px;
  border: 1px solid #c2c2c2;
}
.btn-group {
  margin: 10px 0;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}

.count {
  background: #DA4F49;
  border-radius: 62px;
  color: white;
  padding: 3px 7px 5px 7px;
  font-size: 10px;
}
.fine {
  font-size: 10px;
}

.right {
  float: right
}

.unread {
  font-weight: bold;
}