nav {
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: #eee;
}
#sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 20%;
  height: 500px;
  padding: 0px;
}
#sidebar li {
  text-align: left;
}
#reader {
  position: absolute;
  left: 22%;
  width: 50%;
  top: 50px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  overflow: hidden;

  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
}
li {
  width: 100%;
}

li:active {
  box-shadow: inset 0 0 1px #333;
}

.writer {
  width: 100%;
  height: 200px;
  border: 1px solid #c2c2c2;
}
.btn-group {
  margin: 10px 0;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}